$lightGrey: #d3d3d3;
$silverSand: #c4c4c4;
$dimGrey: #6b6b6b;
$arsenic: #444444;
$darkMediumGrey: #aaaaaa;
$accent: #6d6bc4;

.body {
  font-family: Aleo;
  background-color: #d3d3d3;
  margin: 0 auto;
  line-height: 1.2rem;
  color: #444444;
  padding: 10px;
  width: 90%;
  max-width: 1000px;
}

.title {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.8rem;
}

.secondLine {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: -0.6rem;
}

.author {
  font-weight: 300;
  font-style: italic;
  padding-top: 10px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
}

.text {
  font-size: 18px;
  line-height: 25px;
  margin: 0 auto;
  width: 100%;

  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    margin: 10px 0;
  }

  button,
  address,
  time,
  figure,
  hr,
  img,
  video,
  iframe,
  figcaption,
  .signature,
  .book-cta,
  .border-bottom {
    display: none;
  }

  article {
    header {
      display: none;
    }
  }

  br {
    margin: 5px;
  }

  em {
    font-weight: 300;
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }

  li {
    margin: 5px 0;
  }

  a {
    text-decoration: none;
    border-bottom: 0.03rem solid #6b6b6b;
    display: inline-block;
    color: #6b6b6b;
    line-height: 0.85;
    text-shadow: 1px -1px #d3d3d3, -1px 1px #d3d3d3, -1px -1px #d3d3d3,
      1px 0px #d3d3d3, 1px 1px #d3d3d3, -2px 1px #d3d3d3;
  }

  blockquote {
    font-weight: 300;
    font-style: italic;
  }

  pre {
    width: 80%;
    margin: 1rem auto;
    background-color: #c4c4c4;
    white-space: pre-wrap;
    padding: 1rem;
    line-height: 1.5rem;
    text-align: left;
  }

  code {
    font-family: 'IBM Plex Mono';
    font-size: 1rem;
    background-color: #c4c4c4;
    color: #444444;
    padding: 0.2rem;
  }
}

.divider {
  border-bottom: 1px solid grey;
  height: 2px;
  width: 90%;

  margin: {
    top: 20px;
    bottom: 10px;
    left: auto;
    right: auto;
  }
}

.statusLine {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
}
