@keyframes openForm {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.createForm {
  width: 70%;
  margin: 0 auto;
  background-color: var(--darkMediumGrey);
  animation: openForm 0.7s linear;

  padding: {
    top: 20px;
    left: 30px;
    right: 30px;
    bottom: 10px;
  }

  label {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'title' 'field';
    height: 20px;
    transition-delay: 2s;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    margin: 15px auto;

    .labelTitle {
      grid-area: 'title';
      padding-top: 3px;
      text-align: right;
    }

    input {
      grid-area: 'field';
      background: none;
      margin: 0 10px;
      font-weight: 300;
      color: var(--arsenic);
      font-size: 18px;
      font-family: Aleo;

      border: {
        top: none;
        left: none;
        right: none;
        bottom: 1px solid var(--dimGrey);
      }

      &:focus {
        border-bottom: 1px solid var(--accent);
      }
    }
  }

  button {
    margin: 10px auto;
    animation: createFields 2s linear;
    padding: 10px;
    background-color: var(--arsenic);
    color: var(--light);
    font-size: 16px;
    font-family: Aleo;
    letter-spacing: 1px;

    &:hover {
      transform: scale(1.05);
      color: var(--light);
    }
  }
}

.center {
  text-align: center;
}
