.element {
  color: var(--lightGrey);
  transition: 0.7s;
  font-weight: 300;
  font-size: 1.2rem;
  cursor: pointer;

  margin: {
    left: 0.5rem;
    right: 0.5rem;
  }
}

.button {
  @extend .element;
  padding: 1rem;
  align-self: center;

  &:hover {
    background-color: var(--silverSand);
    color: var(--arsenic);
  }
}

.buttonArrow {
  @extend .element;
  padding-top: 0.6rem;
  margin-left: 1rem;
  font-weight: 400;
  font-size: 2rem;
}

.buttonArrowOpen {
  @extend .buttonArrow;
  transform: rotate(90deg);
}
