$lightGrey: #d3d3d3;
$silverSand: #c4c4c4;
$dimGrey: #6b6b6b;
$arsenic: #444444;
$darkMediumGrey: #aaaaaa;
$accent: #6d6bc4;

.menu {
  position: fixed;
  bottom: 5%;
  right: -220px;
  display: flex;
  justify-content: space-between;
  width: 270px;
  background-color: var(--arsenicTrans);
  border-radius: 2px 0 0 2px;
  transition: 0.7s;
}

.menuOpen {
  @extend .menu;
  right: 0;
}
