$lightGrey: #d3d3d3;
$silverSand: #c4c4c4;
$dimGrey: #6b6b6b;
$arsenic: #444444;
$darkMediumGrey: #aaaaaa;
$accent: #6d6bc4;

.element {
  color: $lightGrey;
  transition: 0.7s;
  font-weight: 300;
  font-size: 1.2rem;
  cursor: pointer;
  margin: {
    left: 0.5rem;
    right: 0.5rem;
  }
}

.button {
  @extend .element;
  padding: 1rem;
  align-self: center;

  &:hover {
    background-color: $silverSand;
    color: $arsenic;
  }
}

.buttonArrow {
  @extend .element;
  padding-top: 0.6rem;
  margin-left: 1rem;
  font-weight: 400;
  font-size: 2rem;
  transform: rotate(180deg);
}

.buttonArrowOpen {
  @extend .buttonArrow;
  transform: none;
}
