.source {
  font-weight: 300;
  font-style: italic;
  margin-top: 0.9rem;
  font-size: 80%;
}

.sourceShow {
  margin-left: 0.3rem;
  font-weight: 300;
  font-style: italic;
  padding-top: 10px;
  font-size: 100%;
}
