$lightGrey: #d3d3d3;
$silverSand: #c4c4c4;
$dimGrey: #6b6b6b;
$arsenic: #444444;
$darkMediumGrey: #aaaaaa;
$accent: #6d6bc4;

.button {
  cursor: pointer;
}

.regular {
  @extend .button;
}

.on {
  @extend .button;
  color: $accent;
}

.delete {
}
