.button {
  cursor: pointer;
  font-family: 'Aleo';
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--darkMediumGrey);

  &:hover {
    transform: scale(1.5);
    color: var(--accent);
  }
}

.on {
  @extend .button;
  color: var(--accent);

  &:hover {
    color: var(--darkMediumGrey);
  }
}
